	<% if @event.errors.any? %>
	
		<ul>
		<% @event.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
		</ul>
	<% end %>

	<p>
	<%= f.label :name, "Event Name" %>
	<%= f.text_field :name %>
	</p>
	
	<p>
	<%= f.label :description, "Event Description" %>
	<%= f.text_area :description %>
	</p>
	
